/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Main HTML and Body of Page */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Raleway', sans-serif;
	font-weight: 900;
}



html, body {
	margin: 0;
	padding: 0;
	background-color: white;
}


@media (min-width: 870px) {
 	
 	/*  Header  */

	 header {
	 	height: 80px;
	 	background-color: #39B0D7;
	 }

	header:hover .header_links a {
		color: #BDE4F1;
	}

	header:hover .header_links a:hover {
		color: white;
	}

	.header_links {
		list-style: none;
		padding-right: 10px;
	}

	.header_links li {
		float: right;
		padding-top: 29px;
	}

	.header_links a {
		text-decoration: none;
		color: white;
		margin-left: 20px;
	}

	.header_links a:visited {
		color: white;	
	}

	.flash_message {
		background-color: red;
		width: 200px;
		text-align: center;
	}

	.jumblr_logo {
		height: 80px; 
	}

	.clearing_hr {
		clear: both;
	}

	/* Content on Page Body */

	.body_wrapper {
		padding: 5px 7px;
	}

	h1 {
		font-size: 2rem;	
		padding-left: 15px;
	}

	.main_comment_form {
		padding-left: 20px;
	}

	.comment_comment_form {
		padding-left: 80px;
	}

	.comment_comment {
		padding: 15px 0 0 100px;
		font-size: 80%;
	}

	.comment {
		padding: 5px 0 0 30px;
	}

	.comment_wrapper {
		background-color: #F6F7F8;
	}

	.username_comment a {
		color: darkblue;
		font-size: 1.2rem;
		text-decoration: none;
	}

	/* Footer */

	footer {
		position: fixed;
		bottom: 0;
		background-color: #39B0D7;
	}

	/* Bouncing Down Arrow */

		@-webkit-keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {
	    -webkit-transform: translateY(0);
	    -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	    transform: translateY(0);
	  }
	  40% {
	    -webkit-transform: translateY(-20px);
	    -moz-transform: translateY(-20px);
	    -ms-transform: translateY(-20px);
	    transform: translateY(-20px);
	  }
	  60% {
	    -webkit-transform: translateY(-10px);
	    -moz-transform: translateY(-10px);
	    -ms-transform: translateY(-10px);
	    transform: translateY(-10px);
	  }
	}
	@-moz-keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {
	    -webkit-transform: translateY(0);
	    -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	    transform: translateY(0);
	  }
	  40% {
	    -webkit-transform: translateY(-20px);
	    -moz-transform: translateY(-20px);
	    -ms-transform: translateY(-20px);
	    transform: translateY(-20px);
	  }
	  60% {
	    -webkit-transform: translateY(-10px);
	    -moz-transform: translateY(-10px);
	    -ms-transform: translateY(-10px);
	    transform: translateY(-10px);
	  }
	}
	@-ms-keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {
	    -webkit-transform: translateY(0);
	    -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	    transform: translateY(0);
	  }
	  40% {
	    -webkit-transform: translateY(-20px);
	    -moz-transform: translateY(-20px);
	    -ms-transform: translateY(-20px);
	    transform: translateY(-20px);
	  }
	  60% {
	    -webkit-transform: translateY(-10px);
	    -moz-transform: translateY(-10px);
	    -ms-transform: translateY(-10px);
	    transform: translateY(-10px);
	  }
	}
	@keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {
	    -webkit-transform: translateY(0);
	    -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	    transform: translateY(0);
	  }
	  40% {
	    -webkit-transform: translateY(-20px);
	    -moz-transform: translateY(-20px);
	    -ms-transform: translateY(-20px);
	    transform: translateY(-20px);
	  }
	  60% {
	    -webkit-transform: translateY(-10px);
	    -moz-transform: translateY(-10px);
	    -ms-transform: translateY(-10px);
	    transform: translateY(-10px);
	  }
	}

	.encircle {
	  width: 60px;
	  height: 60px;
	  border-radius: 60px;
	  border: solid 2px black;
	  position: fixed;
	  bottom: 0;
	  left: 50%;
	}

	.arrow {
	  margin-top: 14px;
	  margin-left: 10.5px;
	  width: 40px;
	  height: 40px;
	  background-image: url(/assets/down-arrow.png);
	  background-size: contain;
	}

	.bounce {
	  -webkit-animation: bounce 2s infinite;
	  -moz-animation: bounce 2s infinite;
	  -ms-animation: bounce 2s infinite;
	  animation: bounce 2s infinite;
	}

	/* Thumbnail Pictures */

	.thumbs img {
		width: 55px;
	}

	.larger-thumbs img {
		width: 80px;
		float: left;
	}

	/* Replies Area */

	.replies {
		margin-top: 30px;
	}

	.reply {
		float: left;
		padding-top: 25px;
	}

	.form2 {
		margin-top: 40px;
	}

/*Still Need to Complete Mobile CSS*/

}



























